body { 
    margin: 4rem; 
} 

#formContainer { 
    margin-bottom: 20px; 
} 

label { 
    display: block; 
    margin-top: 10px; 
} 

input, 
textarea { 
    width: 300px; 
    padding: 8px; 
    margin-top: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
} 

button { 
    margin: 10px; 
    padding: 8px 16px; 
    background-color: rgb(109, 109, 246); 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
} 

button:hover { 
    background-color: blue
} 

table { 
    border-collapse: collapse; 
    margin-bottom: 20px; 
    width: 100%; 
} 

th, 
td { 
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
} 

th { 
    background-color: rgb(109, 109, 246); 
    color: #fff; 
} 

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
  }
  
  /* Style for the close button on hover (optional) */
  .close:hover {
    color: #f00; /* Change color on hover if desired */
  }

  #addUser{
    display: block;
  }